@charset "utf-8";
ul#nav{
display:none;
}
div#content, span#copy{
font-family:Arial, Helvetica, sans-serif;
}
div#header h1{
font-size:22px;
}
div#content{
font-size:12px;
}
span#copy{
font-size:10px;
}
table th, table td {
	border:1px solid #000;
}