<settings>
	
	<config 	
			quality="HIGH" 
			debug="false" 
			screenWidth="550" 
			screenHeight="450"
			>

	</config>
	
	<instructions title="  Instructions"><![CDATA[Examine these images. Can you tell what the items have in common?<br/>]]>
	</instructions>

	<intro>Time to analyze some images. Good luck, citizen!</intro>

</settings>	