<settings>
	
	<config 	
			quality="HIGH" 
			debug="false" 
			screenWidth="550" 
			screenHeight="450"
			>

	</config>
	
	<instructions title="  Instructions"><![CDATA[Roll your mouse over the following photographs to learn more about them.<br/>]]>
	</instructions>

	<intro>Time to learn about North American culture. Good luck, citizen.</intro>

	<rollovers>
		<rollover clip="RolloverClip1" title="Food" x="297" y="154" rotation="-5">
			<![CDATA[People across North America enjoy a variety of foods. Potatoes, corn, and beef are staples in the United States. Caribbean nations grow a lot of sugar. Sugar is popular throughout North America.]]>
		</rollover>
		<rollover clip="RolloverClip2" title="Education" x="276" y="339" rotation="10">
			<![CDATA[Most U.S. schools use a fall to spring school year. This began because children helped on farms during summer.]]>
		</rollover>
		<rollover clip="RolloverClip3" title="Sports" x="150" y="142" rotation="-5">
			<![CDATA[Ice hockey began in Canada. This sport is growing in the United States. Soccer is popular in Mexico and Central America, but outside the United States, most people call it "football."]]>
		</rollover>
		<rollover clip="RolloverClip4" title="Traditions" x="432" y="140" rotation="5">
			<![CDATA[November 11th is a holiday in both Canada and the United States. Veterans Day honors soldiers who have fought in wars.]]>
		</rollover>
		<rollover clip="RolloverClip5" title="Language" x="386" y="290" rotation="5">
			<![CDATA[Most Mexicans (93 percent) speak only Spanish. Besides English, Spanish is the most common language spoken in the United States. In Canada, most people speak either English or French.]]>
		</rollover>
		<rollover clip="RolloverClip6" title="Religion" x="168" y="279" rotation="-5">
			<![CDATA[Americans practice many different faiths. About half are Protestant. About 8 out of 10 Mexicans and 4 out of 10 Canadians are Roman Catholic.]]>
		</rollover>
	</rollovers>

</settings>	