<settings>
	
	<config 	
			quality="HIGH" 
			debug="false" 
			screenWidth="550" 
			screenHeight="450"
			>

	</config>
	
	<instructions title="  Instructions"><![CDATA[Drag items that appear from the bottom left corner of the screen to the appropriate categories.<br/>]]>
	</instructions>

	<intro>Time for a drag and drop game. Good luck citizen!</intro>

	<segments>
		<segment clip="RoundStarClip" 	label="Can serve on a jury " 			id="0" cat="0"/>
		<segment clip="RoundStarClip" 	label="Can get a U.S. passport" 		id="1" cat="0"/>
		<segment clip="RoundStarClip" 	label="Can vote in national elections" 		id="2" cat="0"/>
		<segment clip="RoundStarClip" 	label="Can work for the U.S. government" 	id="3" cat="0"/>

		<segment clip="RoundStarClip" 	label="Born in the United States" 		id="4" cat="1"/>
		<segment clip="RoundStarClip" 	label="Born to a U.S. citizen parent" 		id="5" cat="1"/>
		<segment clip="RoundStarClip" 	label="Automatic citizenship" 			id="6" cat="1"/>

		<segment clip="RoundStarClip" 	label="Immigrant path to citizenship" 		id="7" cat="2"/>
		<segment clip="RoundStarClip" 	label="Must know basic English" 		id="8" cat="2"/>
		<segment clip="RoundStarClip" 	label="At least 18 years old" 			id="9" cat="2"/>
		<segment clip="RoundStarClip" 	label="Legal, permanent U.S. resident" 		id="10" cat="2"/>
		<segment clip="RoundStarClip" 	label="Good moral character" 			id="11" cat="2"/>
		<segment clip="RoundStarClip" 	label="Must answer questions about U.S. government and history" 	id="12" cat="2"/>
		<segment clip="RoundStarClip" 	label="Must swear the Oath of Allegiance " 	id="13" cat="2"/>
	</segments>

	<bins>
		<bin clip="Bin0Clip" 	label="" 	id="0"/>
		<bin clip="Bin0Clip" 	label=""	 id="1"/>
		<bin clip="Bin0Clip" 	label=""	 id="2"/>
		<bin clip="Bin0Clip" 	label=""	 id="3"/>

		<bin clip="Bin1Clip" 	label=""	 id="4"/>
		<bin clip="Bin1Clip" 	label=""	 id="5"/>
		<bin clip="Bin1Clip" 	label=""	 id="6"/>

		<bin clip="Bin2Clip" 	label=""	 id="7"/>
		<bin clip="Bin2Clip" 	label=""	 id="8"/>
		<bin clip="Bin2Clip" 	label=""	 id="9"/>
		<bin clip="Bin2Clip" 	label=""	 id="10"/>
		<bin clip="Bin2Clip" 	label=""	 id="11"/>
		<bin clip="Bin2Clip" 	label=""	 id="12"/>
		<bin clip="Bin2Clip" 	label=""	 id="13"/>
	</bins>

	<feedback title="Good Job!">Select continue to close this window. Then, select "next" in the bottom right corner when you are done reviewing to reset this interactive and try again!</feedback>

</settings>	