<settings>
	
	<config 	
			quality="HIGH" 
			debug="false" 
			screenWidth="550" 
			screenHeight="450"
			>

	</config>
	
	<instructions title="  Instructions"><![CDATA[This map will show you important cultural landmarks in each region of the United States.<br/><br/>Select the "next" and "prev" buttons to navigate through various hotspots.<br/><br/>You may also skip directly to a landmark by selecting a hotspot.<br/>]]>
	</instructions>

	<intro>Time to learn about cultural landmarks. Good luck, citizen!</intro>

	<popups>
		<popup title="U.S. Capitol Building" zoom="90%"><![CDATA[<img src="images/capitol_building.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The U.S. Capitol Building is where the nation's laws are created! Representatives from all 50 states meet here to debate new laws. The building covers 175,170 square feet of ground area! The U.S. Capitol Building is located in Washington, DC.]]></popup>
		<popup title="West" zoom="90%"><![CDATA[<img src="images/west.jpg" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The West has large open areas untouched by people. The land includes large forests, deserts, and mountains. The variety causes wide differences in weather. Hiking and camping are popular. The environment is an important issue. Ranching, lumbering, and mining are important industries. Los Angeles, Seattle, and Denver are major cities.]]></popup>
		<popup title="Midwest" zoom="90%"><![CDATA[<img src="images/midwest.jpg" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The Midwest includes the Great Plains. Wide, flat expanses of land and plenty of rain make the region great for farming. People grow great amounts of wheat, oats, and corn here. The region is famous for automobile and farm equipment factories. Chicago is a famous city with many museums and businesses.]]></popup>
		<popup title="South" zoom="90%"><![CDATA[<img src="images/south.jpg" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The South is famous for its fertile soil. It has mild winters, hot summers, and long growing seasons. People can grow a variety of crops, including cotton and corn. Popular Southern foods include corn bread and shrimp. Atlanta and New Orleans are large cities. Jazz and country music are familiar sounds. Protestant church membership is highest in the South.]]></popup>
		<popup title="Northeast" zoom="90%"><![CDATA[<img src="images/northeast.jpg" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The Northeast includes many factories. Major cities include New York City and Boston. The Northeast has cold winters and mild summers. Many famous universities are there, like Harvard and Yale. Fishing, iron, glass, and steel are major industries. Lobster and clams are popular foods from the region.]]></popup>
		<popup title="Navajo Nation" zoom="90%"><![CDATA[<img src="images/navajo.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The Navajo Nation is the largest Native American reservation, with about 27,000 square miles of territory. The Navajo Nation covers portions of Arizona, New Mexico, and Utah. More than 173,000 Navajo live here. Most families make a living farming or creating traditional crafts.]]></popup>
		<popup title="Hoover Dam" zoom="90%"><![CDATA[<img src="images/hoover_dam.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Building the Hoover Dam required more than 5 million barrels of concrete! The dam was built to redirect the Colorado River and create waterpower. Every U.S. state helped with supplies for building the dam. Lake Mead, the dam's reservoir, is a popular recreation site.]]></popup>
		<popup title="Hollywood Sign" zoom="90%"><![CDATA[<img src="images/hollywood.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>For many Americans, the Hollywood sign is a symbol of where dreams can come true. The town founder's wife heard of the town Hollywood, Florida, and thought the name was perfect. Today people think of Hollywood as a glamorous place where movies and stars are born. The Hollywood sign is located in Los Angeles, California.]]></popup>
		<popup title="Golden Gate Bridge" zoom="90%"><![CDATA[<img src="images/golden_gate.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>At 4,200 feet long, the Golden Gate Bridge is among the top 10 longest suspension bridges in the world. Including the sections that are not suspended, the total bridge length is about three miles. Its orange color is highly visible to ships and blends with the landscape. It is named after the Golden Gate, the strait that is the entrance to San Francisco Bay.]]></popup>
		<popup title="Mount Rushmore" zoom="90%"><![CDATA[<img src="images/rushmore.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Mount Rushmore is an impressive sculpture. Each year, millions of people visit the 60-foot-tall images of George Washington, Thomas Jefferson, Abraham Lincoln, and Theodore Roosevelt carved into the Black Hills of South Dakota. Each of these U.S. presidents was responsible for important national events. ]]></popup>
		<popup title="Gateway Arch" zoom="90%"><![CDATA[<img src="images/gateway.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The Gateway Arch, also known as the "Gateway to the West," is a symbol of U.S. expansion. Visitors can view the area around the Gateway from the top of the arch. To get there you can climb more than 1,000 steps, take an elevator, or ride a tram! The Gateway Arch is located in St. Louis, Missouri.]]></popup>
		<popup title="Mall of America" zoom="90%"><![CDATA[<img src="images/mall_america.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The Mall of America is large enough to be its own city. It has 520 stores, 12,000 employees, and enough parking for 20,000 cars! If shopping is not for you, you can visit the theater, aquarium, or indoor theme park! The Mall of America is located in Minneapolis, Minnesota.]]></popup>
		<popup title="Willis Tower" zoom="90%"><![CDATA[<img src="images/sears_tower.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The Willis Tower (formerly Sears Tower) is among the world's tallest buildings. It has 108 floors. You can view Chicago and feel the building sway from a glass balcony 103 stories high!]]></popup>
		<popup title="Williamsburg Historic District" zoom="90%"><![CDATA[<img src="images/williamsburg.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The city of Williamsburg was the capital of Virginia for 100 years! In 1927, residents and historians began to restore the town. Tourists visit today to see what life was like in the colonial period and the early days of the nation.]]></popup>
		<popup title="Cape Canaveral Air Force Station" zoom="90%"><![CDATA[<img src="images/cape_canaveral.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Americans studied space at the Cape Canaveral Air Force Station for many years. The nation launched its first satellite from here in 1958. Americans are proud to be among the first nations to explore space.]]></popup>
		<popup title="Alamo" zoom="90%"><![CDATA[<img src="images/alamo.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Texas was once part of Mexico. In 1835-1836, People living there, many of them Americans, fought for Texas independence from Mexico. Many Americans died at the Battle of the Alamo. It serves as a reminder of Americans' willingness to fight and die for freedom. The Alamo is in San Antonio, Texas.]]></popup>
		<popup title="Graceland" zoom="90%"><![CDATA[<img src="images/graceland.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Elvis Presley called Graceland his home. He is one of the most famous Americans in popular culture. His style of music had a great impact on the national culture. People around the world know his name today. Graceland is a museum today to remember Presley and his music. Graceland is in Memphis, Tennessee.]]></popup>
		<popup title="Statue of Liberty" zoom="90%"><![CDATA[<img src="images/statue_liberty.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The Statue of Liberty, or "Lady Liberty," is a symbol of freedom for all Americans. She was a gift from France to celebrate the United States' 100th anniversary. Standing in New York Harbor, she welcomed new immigrants to the nation who arrived by ship to Ellis Island.]]></popup>
		<popup title="Empire State Building" zoom="90%"><![CDATA[<img src="images/empire_state.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The Empire State Building is one of the tallest buildings in the United States, rising 102 floors! Thousands of people work there each day. Many movies have featured this landmark skyscraper! The Empire State Building is located in New York City, New York.]]></popup>
		<popup title="Independence Hall" zoom="90%"><![CDATA[<img src="images/independence_hall.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>You could say Independence Hall is the birthplace of the nation. The nation's founders signed the Declaration of Independence and the U.S. Constitution here. Independence Hall is located in Philadelphia, Pennsylvania.]]></popup>
		<popup title="Liberty Bell" zoom="90%"><![CDATA[<img src="images/liberty_bell.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The Liberty Bell once rang out from the steeple of Independence Hall. Stamps, coins, and even businesses have featured the cracked bell's image. Each Fourth of July the bell is tapped to celebrate U.S. independence. The Liberty Bell is located in Philadelphia, Pennsylvania.]]></popup>
		<popup title="White House" zoom="90%"><![CDATA[<img src="images/white_house.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The White House opened during President John Adams' term in 1800. It is a symbol of the U.S. presidency. Presidents live and work here with their staffs. The White House has over 132 rooms and 35 bathrooms! The White House is located in Washington, DC.]]></popup>
		<popup title="U.S. Supreme Court Building" zoom="90%"><![CDATA[<img src="images/capitol_building.png" id="myimage"/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>The U.S. Supreme Court is the highest court in the United States. "Equal Justice Under Law" appears above the main entrance. When Americans disagree on the meaning of the U.S. Constitution, this is where the issue is settled! The U.S. Supreme Court Building is located in Washington, DC.]]></popup>
		
		
	</popups>

</settings>	