<settings>
	
	<config 	
			quality="HIGH" 
			debug="false" 
			screenWidth="550" 
			screenHeight="450"
			>

	</config>
	
	<instructions title="  Instructions"><![CDATA[Select true or false for the following items, and "submit" when you are confident with your choices.<br/>]]>
	</instructions>

	<intro>Time to show what you've learned!</intro>

	<guides>
		<guide>Make Your Selection</guide>
	</guides>

	

	<selections>
		<selection><question>The U.S. government exists because of citizen consent.</question><choice type="correct">True</choice><choice type="">False</choice></selection>
		<selection><question>U.S. citizens may break laws if they do not agree with them. </question><choice type="">True</choice><choice type="correct">False</choice></selection>
		<selection><question>People in the United States pay taxes to three main levels of government. </question><choice type="correct">True</choice><choice type="">False</choice></selection>
		<selection><question>Adult U.S. citizens must serve in the military or on juries when required by law. </question><choice type="correct">True</choice><choice type="">False</choice></selection>
		<selection><question>Minors cannot volunteer in local communities. </question><choice type="">True</choice><choice type="correct">False</choice></selection>
		<selection><question>Voting is a duty required by law. </question><choice type="">True</choice><choice type="correct">False</choice></selection>
		<selection><question>The government provides protection and services to citizens. </question><choice type="correct">True</choice><choice type="">False</choice></selection>
		<selection><question>Speaking up for someone else's rights is showing great citizenship.</question><choice type="correct">True</choice><choice type="">False</choice></selection>
	</selections>

	<feedback>
		<correct title="Correct">Great job!</correct>
		<incorrect title="Incorrect">Oops, not quite. The wrong answers have been indicated with bold, red text.</incorrect>
		<failed title="Incorrect">Nice try. Select "continue" to view the correct answers.</failed>
		<freebie title="There you go!">Select "continue" to close this window and then select "reset" to try again.</freebie>
	</feedback>

</settings>	